.marketing_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.marketing_image_fit_container,
.marketing_image_xlg_container,
.marketing_image_lg_container,
.marketing_img_md_container,
.marketing_img_sm_container,
.marketing_img_xsm_container {
    width: 100%;
    position: relative;
    background-size: cover;
}

.marketing_image_fit_container {
    height: 100%;
}

.marketing_image_xlg_container {
    height: 100vh;
}

.marketing_image_lg_container {
    height: 85vh;
}

.marketing_img_md_container {
    height: 75vh;
}

.marketing_img_sm_container {
    height: 70vh;
}

.marketing_img_xsm_container {
    height: 30vh;
}

.main_title_section {
    position: absolute;
    height: 100%;
    width: 37%;
    top: 15%;
    left: 15%;
}

.main_title,
.download_main_title {
    font-family: 'Kameron', serif;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1;
    margin: 0;
}

.main_title {
    font-size: 3.5em;
}

.download_main_title {
    font-size: 1.8em;
}

.main_sub_title,
.download_sub_title {
    color: #FFFFFF;
    font-size: 1.1em;
    margin: 0;
}

.download_app_section {
    width: 70%;
    margin-top: 1.5em;
}

.app_icons {
    margin-left: 0.5em;
    width: 1.1em;
    height: 1.1em;
}

.half_screen_center {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.graphic_image {
    padding: 3em;
    height: 100%;
}

.picture_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.marketing_main_title {
    font-family: 'Kameron', serif;
    color: #33384F;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    margin-top: 0.5em;
    line-height: 0.9em;
}

.marketing_main_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
}

.center_text_image {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2em 4em;
    padding-right: 0;  
}

/* utils */

.flex_box {
    display: flex;
}

.max_width {
    max-width: 80%;
}

.height100p {
    height: 100%;
}

.row_section {
    flex-direction: row;
}

.column_section {
    flex-direction: column;
}

.no_left_padding {
    padding-left: 0 !important;
}

.no_right_padding {
    padding-right: 0 !important;
}

.center_items {
    display: flex;
    justify-content: center;
}

.sm_width {
    width: 21em;
}

/* breakpoint */

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1250px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 700px) {
    
}

/* background */

.bg_wall {
    background-image: url(../../assets/Images/Marketings/TopBgWall.png);
}

.bg_grey{
    background-color: #F5F5F5;
}

.bg_white {
    background-color: #FFFFFF;
}

.bg_dark {
    background-color: #33384F;
}