.marketing_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.marketing_image_fit_container,
.marketing_image_xlg_container,
.marketing_image_lg_container,
.marketing_img_md_container,
.marketing_img_sm_container,
.marketing_img_xsm_container {
    width: 100%;
    position: relative;
    background-size: cover;
}

.marketing_image_fit_container {
    height: 100%;
}

.marketing_image_xlg_container {
    height: 100vh;
}

.marketing_image_lg_container {
    height: 85vh;
}

.marketing_img_md_container {
    height: 75vh;
}

.marketing_img_sm_container {
    height: 70vh;
}

.marketing_img_xsm_container {
    height: 30vh;
}

.main_title_section {
    position: absolute;
    height: 100%;
    width: 37%;
    top: 15%;
    left: 15%;
}

.main_title,
.download_main_title {
    font-family: 'Kameron', serif;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1;
    margin: 0;
}

.main_title {
    font-size: 3.5em;
}

.download_main_title {
    font-size: 1.8em;
}

.main_sub_title,
.download_sub_title {
    color: #FFFFFF;
    font-size: 1.1em;
    margin: 0;
}

.download_app_section {
    width: 70%;
    margin-top: 1.5em;
}

.app_icons {
    margin-left: 0.5em;
    width: 1.1em;
    height: 1.1em;
}

.half_screen_center {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.graphic_image {
    padding: 3em;
    height: 100%;
}

.picture_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.marketing_main_title {
    font-family: 'Kameron', serif;
    color: #33384F;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    margin-top: 0.5em;
    line-height: 0.9em;
}

.marketing_main_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
}

.center_text_image {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2em 4em;
    padding-right: 0;  
}

.insert_image_background {
    position: relative;
    background-size: cover;
}

/* utils */

.flex_box {
    display: flex;
}

.max_width {
    max-width: 80%;
}

.height100p {
    height: 100% !important;
}

.row_section {
    flex-direction: row;
}

.column_section {
    flex-direction: column;
}

.no_left_padding {
    padding-left: 0 !important;
}

.no_right_padding {
    padding-right: 0 !important;
}

.no_bottom_padding {
    padding-bottom: 0 !important;
}

.margin_bottom {
    margin: 1em 0;
}

.center_items {
    display: flex;
    justify-content: center;
}

.sm_width {
    width: 21em;
}

.align_start {
    align-items: flex-start;
}

/* breakpoint */
@media screen and (max-width: 1440px) {
    .main_title_section {
        width: 45%;
    }
    .graphic_image {
        padding: 2em;
    }
}

@media screen and (max-width: 1250px) {
    
}

@media screen and (max-width: 1024px) {
    .marketing_img_md_container {
        height: 60vh;
    }
    .marketing_img_sm_container {
        height: 50vh;
    }
    .main_title {
        font-size: 2.8em;
    }
    .main_sub_title,
    .download_sub_title {
        font-size: 0.9em;
    }
    .download_main_title {
        font-size: 1.5em;
    }
    .marketing_main_title {
        font-size: 1.8em;
        margin-top: 0;
        padding-top: 1em;
    }
    .marketing_main_description {
        font-size: 0.6em;
    }
    .responsive_img_size {
        width: 30em;
        height: 30em;
    }
}

@media screen and (max-width: 768px) {
    .marketing_img_md_container {
        height: 45vh;
    }
    .main_title_section {
        width: 55%;
        height: auto;
        bottom: 0;
        left: 15%;
    }
    .main_title {
        font-size: 2em;
    }
    .main_sub_title,
    .download_sub_title {
        font-size: 0.6em;
    }
    .download_main_title {
        font-size: 1.3em;
    }
    .straight_column {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .full_width {
        width: 100%;
        height: auto;
    }

    .responsive_img_size {
        width: 25em;
        height: 25em;
    }

    .responsive_img_sm_size {
        width: 20em;
        height: 20em;
    }

    .graphic_image {
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    
}

@media screen and (max-width: 600px) {
    .marketing_img_md_container {
        height: 35vh;
    }
    .main_title_section {
        width: 55%;
        height: auto;
        top: 5%;
        left: 15%;
    }
    .straight_column {
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .marketing_img_md_container {
        height: 35vh;
    }
    .main_title_section {
        width: 80%;
        top: 5%;
        left: 10%;
    }
    .main_title {
        font-size: 1.8em;
    }
    .download_main_title {
        font-size: 1em;
    }
    .straight_column {
        height: 100%;
    }
    .graphic_image {
        padding: 1em;
    }
}

/* background */

.bg_wall {
    background-image: url(../../assets/Images/Marketings/Background/TopBgWall.png);
}

.bg_grey{
    background-color: #F5F5F5;
}

.bg_white {
    background-color: #FFFFFF;
}

.bg_dark {
    background-color: #33384F;
}