.marketing_btn_container {
    width: 13em;
    height: 2.5em;
    padding: 0.5em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8em 1em 0.8em 0;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px -1px 25px -4px rgba(245, 245, 245, 0);
    -webkit-box-shadow: 4px -1px 25px -4px rgba(245, 245, 245, 0);
    -moz-box-shadow: 4px -1px 25px -4px rgba(245, 245, 245, 0);
    transition: box-shadow 0.3s;
}

.marketing_btn_container:hover {
    box-shadow: 4px -1px 25px -4px rgba(245, 245, 245, 0.8);
    -webkit-box-shadow: 4px -1px 25px -4px rgba(245, 245, 245, 0.8);
    -moz-box-shadow: 4px -1px 25px -4px rgba(245, 245, 245, 0.8);
}