.LoginMain {
  border-radius: 20px;
  border: 1px solid #b4b4b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 30%;
  min-width: 350px;
  margin: 4em 0 2em 0;
}

.LoginText {
  padding-bottom: 1em;
  font-size: 18px;
  width: 100%;
}

.LoginTextSmall {
  font-size: 14px;
}

.LoginHeader {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5em;
}

.LoginHeader--NoMargin {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.RetrieveLink {
  font-weight: bold;
  color: var(--color-dark);
}

.LoginInput {
  width: 100%;
  padding: 0.7em;
  border-radius: 10px;
  border: 1px solid var(--color-accent);
  outline: none;
  font-family: 'DMSans', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.LoginFormButton {
  padding: 1em;
  width: 100%;
  background-color: var(--color-accent);
  font-size: 15px;
  color: var(--color-white);
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: none;
}

.LoginFormButtonInverted {
  color: var(--color-accent);
  background-color: var(--color-white);
  border: 1px solid var(--color-accent);
}

@media only screen and (max-width: 495px) {
  .LoginFormButton {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 1250px) {
  .LoginMain {
    width: 40%;
  }
}
