.TradeCalendarItem {
  border: 1px solid #33384f;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.2rem 0;
  height: max-content;
  z-index: 50;
}

.TradeCalendarItemPicture {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.TradeCalendarItemLend {
  display: flex;
  align-items: center;
  background-color: #33384f;
  padding: 0.5rem;
  color: white;
}
