.blog_card_container {
  width: 25em;
  cursor: pointer;
}

.blog_card_image {
  width: 100%;
  border-radius: 5px;
}

.blog_card_title {
  margin: 0;
  font-family: 'Kameron', serif;
  font-weight: bold;
  color: var(--color-dark);
  font-size: 1.8em;
  line-height: 1em;
}

.blog_card_category {
  margin: 0.5em 0;
  font-weight: bold;
}

.blog_card_content {
  margin: 0;
  font-size: 0.9em;
}

.blog_card_postedDate {
  margin: 0;
  margin-top: 0.5em;
  color: var(--color-text);
}
