.bg_about_us {
    background-image: url(../../../assets/Images/Marketings/Background/about_us_top.png);
}

.bg_about_us_signup {
    background-image: url(../../../assets/Images/Marketings/Background/about_us_signup.png);
}

.position_lower {
    top: 60%;
}

.smaller_width {
    padding-left: 10em;
}

.padding_sm  {
    padding: 3em;
}

.insert_image_width_height {
    width: 80%;
    height: 80%;
}

.seven_to_three {
    width: 60%;
}

.three_to_seven {
    width: 40%;
}

.sharing_description {
    font-size: 0.8em;
}

.text_container_width {
    padding-right: 10em;
}

.center_member_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}