.DeleteModalContainer {
  border: 2px solid #ac172c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.DeleteModalText {
  font-size: 18px;
  margin-bottom: 0.5rem;
  text-align: center;
}
.DeleteModalHeading {
  font-size: 24px;
  text-align: center;
  color: #33384f;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.DeleteModalTextContainer {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 940px) {
  .EditItemMainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 4em;
  }
  .EditItemInfoWrapper {
    min-width: 100%;
    font-family: "DMSans", sans-serif;
  }
  .EditItemPicturesWrapper {
    min-width: 100%;
  }
}
@media only screen and (max-width: 1127px) {
  .FilterPopoutDel {
    min-width: 200px;
    left: -90px;
  }
}
.EditItemMainWrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 4em;
}

.EditItemInfoWrapper {
  width: 45%;
  font-family: "DMSans", sans-serif;
}
.EditItemPicturesWrapper {
  width: 45%;
}
