.RegistrationWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoginMainNoMarg {
  margin: 0;
  margin-bottom: 2em;
}

.ExpiryCCVFlex {
  display: flex;
  width: 100%;
}

.TCScrollDiv {
  width: 100%;
  height: 450px;
  overflow: auto;
  border: 1px solid #ac172c;
  border-radius: 10px;
  padding: 0.5em;
}

.TCCheckboxFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  font-size: 15px;
}

.TCCheckbox {
  margin-right: 1em;
}

.ProfilePictureFlex {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
}

.ProfilePictureCircle {
  border: 1px solid #ac172c;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  overflow: hidden;
}

.ProfilePicturePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* height: 100%; */
}

.UploadButton {
  width: 50%;
  height: 3em;
}

.CameraIcon {
  height: 35px;
}

.PasswordInputContainer {
  width: 100%;
  position: relative;
}

.ShowPasswordIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.ShowPasswordIcon:hover {
  cursor: pointer;
}

.BecomeLenderFlex {
  display: flex;
  width: 100%;
  align-items: center;
}

.LenderSwitchInfoFlex {
  display: flex;
  margin-left: 2em;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.SkipNextButtonFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ButtonDisabled {
  background-color: rgba(172, 23, 44, 0.5);
}

.ButtonDisabled:hover {
  cursor: auto;
}

.ValidationText {
  color: #ac172c;
  font-size: 14px;
  width: 100%;
  margin-bottom: 1em;
}

.ValidationTextShow {
  opacity: 100% !important;
}

.LoginInputValidationContainer {
  position: relative;
  width: 100%;
}

.Register__DOB__Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.DOBInput {
  width: 30%;
  padding: 0.7em;
  border-radius: 10px;
  border: 1px solid #ac172c;
  margin-bottom: 1em;
  outline: none;
  font-family: "DMSans", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.DOBHeader {
  width: 30%;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  color: #33384f;
  font-size: 14px;
  font-weight: bold;
}
