.Button {
  padding: 0.8em;
  width: 100%;
  background-color: #ac172c;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.2em;
}

.ButtonInverted {
  padding: 0.8em;
  width: 100%;
  background-color: white;
  font-size: 15px;
  color: #ac172c;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ac172c;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.2em;
}
.ButtonErrorContainer {
  background-color: #f7e7e9;
  border-radius: 10px;
}

.ButtonContainer {
  width: 100%;
}

.ButtonValidationContainer {
  position: relative;
  width: 100%;
}
