.TradeSidebarContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 30%;
}

.TradeSidebarSubHeading {
  font-size: 20px;
  color: #33384f;
  font-weight: bold;
}

.TradeSidebarCostFlex {
  display: flex;
  justify-content: space-between;
}

.TradeSidebarSection {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid#ebebeb;
}

.TradeSidebarHeading {
  font-size: 22px;
  color: #33384f;
  font-weight: bold;
}

.TradeSidebarUserRatingContainer {
  display: flex;
  align-items: center;
}
