.TradeSidebarContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  border-left: 1px solid #d6d6d6;
  width: 30%;
}

.TradeSidebarSubHeading {
  font-size: 20px;
  color: #33384f;
  font-weight: bold;
  margin-bottom: 20px;
}

.TradeSidebarCostFlex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}

.TradeSidebarSection {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid#ebebeb;
}

.TradeSidebarHeading {
  font-size: 22px;
  color: #33384f;
  font-weight: bold;
  margin-bottom: 10px;
}

.TradeSidebarUserRatingContainer {
  display: flex;
  align-items: center;
}

.TradeSidebarUserName {
  font-size: 20px;
  font-weight: bold;
  color: #33384f;
}
.TradeSidebarUserContainer {
  display: flex;
  align-items: center;
}
.TradeSidebarUserAvatar {
  margin-right: 1rem;
}
.TradeSidebarLocationContainer {
  flex-direction: column;
  display: flex;
}

@media only screen and (max-width: 495px) {
  .TradeSidebarContainer {
    width: 300px;
  }
}
