.SearchButton {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px 10px;
  font-family: 'DMSans', sans-serif;
  color: var(--color-white);
  width: max-content;
  font-size: 24px;
}

.SearchIcon {
  height: 16px;
}

.SearchButtonFlex {
  display: flex;
  align-items: center;
}
