.SearchFilterBar {
  border-bottom: 2px solid #ac172c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchFilterBarFlex {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 2em 0;
  font-size: 20px;
  user-select: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  .FilterContainer {
    padding: 1%;
  }
  .SearchFilterBarFlex {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
  }
  .FilterPopout.FilterPopoutCat {
    min-width: 40%;
    top: auto;
  }
  .FilterPopout.FilterPopoutLoc {
    left: 10%;
    top: auto;
  }
  .FilterPopout.FilterPopoutPrice {
    max-width: 65%;
    top: auto;
    left: 15%;
  }
  .FilterPopout.FilterPopoutRating {
    top: auto;
    left: 33%;
    max-width: 35%;
    min-width: 30%;
  }
  .FilterPopout.FilterPopoutDel {
    max-width: 60%;
    min-width: 55%;
    top: auto;
    left: 25%;
  }
}

.SearchFilterText:hover {
  cursor: pointer;
}

.FilterActive {
  font-size: 30px;
  font-weight: bold;
}

.FilterContainer {
  position: relative;
  min-width: 25%;
  text-align: center;
}

.FilterPopout {
  position: absolute;
  top: 79px;
  border: 2px solid #ac172c;
  border-top: none;
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FilterPopoutCat {
  min-width: 600px;
  left: -20px;
}

.FilterPopoutLoc {
  min-width: 450px;
  left: -60px;
}

.FilterPopoutPrice {
  min-width: 400px;
  left: -150px;
}

.FilterPopoutRating {
  min-width: 350px;
  left: -120px;
}

.FilterPopoutDel {
  min-width: 450px;
  left: -200px;
}

.hlPopout {
  margin-top: 0;
  margin-bottom: 1em;
  width: 80%;
}

.MainBodyPopout {
  padding: 0 2em 2em 2em;
  width: 90%;
  font-size: 14px;
}

.CategoryFiltersFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.CategoryFilterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  margin: 0 1em 1em 0;
  height: 3.5em;
}

.CategoryFilterDivActive {
  border: 2px solid #9e1e29;
}

.CategoryFilterDiv:hover {
  cursor: pointer;
}

.CategoryFilterIcon {
  max-height: 30px;
  margin-right: 0.5em;
}

.FilterButtonSave {
  font-family: "DMSans", sans-serif;
  font-size: 20px;
  color: #fff;
  padding: 0.7em 2em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #ac172c;
}

.PostcodeFlex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.PostcodeText {
  font-size: 18px;
  color: #33384f;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.SearchRadiusText {
  font-size: 16px;
}

.PostcodeInput {
  font-size: 20px;
  font-family: "DMSans", sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  width: 50%;
}

.PostcodeInput:focus {
  outline: none;
}

.LocationSliderFlex {
  display: flex;
  align-self: center;
}

.SearchRadiusValue {
  margin-left: 1em;
  font-size: 17px;
}

.MapContainerSmall {
  width: 100%;
  height: 250px;
}

.MinMaxFlex {
  display: flex;
  justify-content: space-between;
}

.MinMaxHeader {
  width: 100%;
  margin-left: 1em;
  margin-bottom: 0.5em;
  font-size: 16px;
}

.PriceInput {
  font-size: 20px;
  font-family: "DMSans", sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  width: 90%;
  padding: 0.5em 0.5em;
  text-align: left;
}

.PriceInput:focus {
  outline: none;
}

.SaveButtonFlex {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.DeliveryFlex {
  display: flex;
  justify-content: space-between;
}

.DeliveryButton {
  padding: 1em;
  color: #e9d8b4;
  background-color: #ac172c;
  border: 1px solid #ac172c;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
}

.DeliveryButtonInactive {
  background-color: #fff;
  font-weight: normal;
  color: #000;
}

.StarsFlex {
  display: flex;
  justify-content: center;
}

.RatingFilterHeader {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 1em;
}

.StarClick:hover {
  cursor: pointer;
}
