.SearchFilterBar {
    border-bottom: 2px solid #ac172c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchFilterBarFlex {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 2em 0;
    font-size: 20px;
    user-select: none;
}

.SearchFilterText:hover {
    cursor: pointer;
}

.FilterActive {
    font-size: 30px;
    font-weight: bold;
}

.FilterContainer {
    position: relative;
}

.FilterPopout {
    position: absolute;
    border: 2px solid #ac172c;
    border-top: none;
    border-radius: 0 0 15px 15px;
    background-color: #FFF;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hlPopout {
    margin-top: 0;
    width: 80%;
}

.MainBodyPopout {
    padding: 0 2em 2em 2em;
    width: 90%;
}