.ItemMainWrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 4em;
}

.ItemInfoWrapper {
  width: 45%;
  font-family: "DMSans", sans-serif;
}

.ItemPicturesWrapper {
  width: 45%;
}

.ItemName {
  /* font-size: 40px; */
  font-size: calc(1.2vw + 1.8rem);
  font-weight: bold;
}

.ItemPriceFlex {
  display: flex;
}

.ItemRateDiscountFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1em;
  padding-top: 0.5em;
}

.ItemPriceTextBig {
  /* font-size: 70px; */
  font-size: calc(2.2vw + 2rem);
  color: #33384f;
}

.ItemRateTextBig {
  font-size: 34px;
  color: #58554e;
}

.ItemDiscountText {
  font-size: 18px;
  color: #ac172c;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.LocationDeliveryCategory {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.LDCIconContainer {
  display: flex;
  width: 15%;
}

.LDCIcon {
  height: 30px;
}

.DeliveryFeeText {
  color: #c7c7c7;
}

.ItemButtons {
  display: flex;
  margin-bottom: .5em;
}

.ItemButtons button {
  padding: 0.5em;
  border-radius: 10px;
  outline: none;
  font-family: "DMSans", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}

.ItemButtonFlex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 8%;
  align-items: center;
}

.ChatStartButtonFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 8%;
  align-items: center;
}

.ItemButtons img {
  height: 30px;
}

.ButtonAvailability {
  border: 1px solid #33384f;
  background-color: #ffffff;
  width: 50%;
}

.ButtonApply {
  background-color: #33384f;
  border: none;
  color: #ffffff;
  width: 50%;
}

.ButtonColdChat {
  background-color: #b43b4c;
  border: none;
  color: #ffffff;
  width: 80%;
}

.ButtonFavourite {
  background-color: #b43b4c;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  border: 1px solid #ebebeb;
  margin: 35px 0;
}

.ItemDetailsHeader {
  font-weight: bold;
  font-size: 25px;
  color: #33384f;
  margin-bottom: 0.5em;
}

.ItemDetailsFlex {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 80%;
  margin-bottom: 1em;
  font-weight: bold;
}

.ItemDetailsFlex div {
  font-weight: normal;
}

.ProductRatingRow {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
}

.ProductRatingContainer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .ProductRatingContainer {
    flex-direction: column;
    justify-content: center;
  }
  .RatingLenderFlex {
    margin-top: .5em;
  }
  .RatingDetailContainer {
    margin-left: 1.5em;
  }
}

.RatingHeader {
  font-weight: bold;
}

.RatingStarFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.StarIconRating {
  height: 18px;
  margin-left: 0.5em;
}

.RatingLenderFlex {
  display: flex;
}

.ProfileIcon {
  height: 50px;
  width: 50px;
  margin: auto 0;
}

.ProductIcon {
  height: 50px;
  width: 50px;
  margin: auto 0;
  border-radius: 50%;
  object-fit: cover;
}

.RatingDetailContainer {
  margin-left: .5em;
}

.ReviewCardSection {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.ViewReviewsButton {
  width: 100%;
  border: 1px solid #b03b4b;
  padding: 1em;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: "DMSans", sans-serif;
}

.ReviewCarousel {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.ReviewButtonFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.ReviewButtonFlex:hover {
  cursor: pointer;
}

.ReviewCarousel div {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 0.2em;
  color: #ffffff;
}

.ReviewPageInactive {
  border: 1px solid #ac172c;
}

.ReviewPageActive {
  background-color: #ac172c;
}

.ItemImageMain {
  width: 100%;
  height: 25em;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
  margin-bottom: 1em;
  cursor: pointer;
}

.ItemImageSecondary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.SecondaryItemImageContainer {
  position: relative;
  width: 48%;
  height: 12em;
  cursor: pointer;
}

.SecondaryItemImage {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.ImageModalButton {
  width: 45%;
  color: #fff;
  border-radius: 10px;
  background-color: #ac172c;
  padding: 1em;
  border: none;
  outline: none;
  font-family: "DMSans", sans-serif;
}

.NavyOverlay {
  position: absolute;
  background-color: rgba(20, 25, 31, 0.5);
  border-radius: 0 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
}
.NavyOverlayMain {
  border-radius: 30px;
}

.PickupLocationText {
  font-size: 18px;
  font-weight: bold;
  margin: 0.5em 0;
}

.PickupLocationTextLight {
  font-size: 18px;
  color: #c7c7c7c7;
  margin-bottom: 1em;
}

.MapContainer {
  height: 400px;
  width: 100%;
  margin-bottom: 0.5em;
}

.Hide {
  visibility: hidden;
}
.marker {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: "#B03B4B";
}
.editButton {
  width: 100%;
  background-color: #33384f;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 0.5em;
  border-radius: 10px;
  outline: none;
  font-family: "DMSans", sans-serif;
  font-size: 18px;
}
.ItemPage__Loading__Container {
  margin: 5em 0;
}
.ItemPerSlotText {
  color: #58554e;

  font-size: calc(1.1vw + 1.2rem);
  height: 50%;
}

@media only screen and (max-width: 1350px) {
  .ItemButtonFlex,
  .ChatStartButtonFlex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 495px) {
  .ItemMainWrapper {
    width: 90%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .ItemPicturesWrapper {
    width: 80%;
  }
  .ItemInfoWrapper {
    width: 100%;
  }
  .ItemButtons {
    flex-direction: column;
  }
  .ButtonApply {
    width: 100%;
    margin-bottom: 1rem;
  }
  .ButtonFavourite {
    width: 80%;
    align-self: center;
  }
  .ButtonAvailability {
    width: 100%;
    margin-bottom: 1rem;
  }
  .ProductRatingRow {
    width: 100%;
  }
  .ItemName {
    text-align: center;
  }
}
