.CategoryDDIcon {
  max-height: 30px;
  margin-bottom: 5px;
}

.SelectInput .CatIconContainer {
  display: none;
}

.StarIcon {
  height: 28px;
  padding: 2px;
}

.StarIcon:hover {
  cursor: pointer;
}

.MuiSelect-root .StarIcon {
  display: none;
}

li .RatingText {
  display: none;
}