.CategoryDDIcon {
  max-height: 30px;
  margin-bottom: 5px;
}

.CatIconContainer {
  width: 30%;
  display: flex;
  padding-left: 1em;
}

.SelectInput .CatIconContainer {
  display: none;
}

.StarIcon {
  height: 28px;
  padding: 2px;
}

.StarIcon:hover {
  cursor: pointer;
}

.MuiSelect-root .StarIcon {
  display: none;
}

li .RatingText {
  display: none;
}