.UserShedNav {
  height: 100%;
  width: 20%;
  margin-right: 4em;
  padding: 1em 0;
  font-size: 20px;
  color: #33384f;
}

.UserShedNav__LinkFlex {
  display: flex;
  align-items: center;
  padding: 0.5em 2em 0.5em 2em;
  margin-bottom: 1em;
  user-select: none;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgba(176, 59, 75, 0);
  transition: 0.3s;
}

.UserShedNav__LinkFlex:hover {
  cursor: pointer;
}

.UserShedNav__LinkFlex--Active {
  border-color: rgba(176, 59, 75, 1);
}

.UserShedNav__Icon {
  margin-right: 1em;
}

.LogoutButton {
  width: 100%;
  background-color: #ac172c;
  font-size: 18px;
  font-family: "DMSans";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 10px;
  padding: 0.5em 0;
}

.UserShedNav__SecondaryLink {
  color: #33384f;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserShedNav__SecondaryLink:hover {
  cursor: pointer;
}

.UserShedNav__SecondaryLink--active {
  font-weight: bold;
}

.UserShedNav__SecondaryLink__ExtraSpacing {
  margin-top: 3em;
}

.HL {
  border: 1px solid #ebebeb;
  margin: 1.5em 0;
}
