.DisputeModalContainer {
    border: 2px solid #ac172c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    max-width: 550px;
    margin: 0;
    background-color: white;
}

.DisputeBookingModalContent{
    padding: 0.5em 1em 0 1em;
    width: 100%;
    max-width: 550px;
}

.DisputeBookingModalTitle {
    font-size: 1.4em;
    color: #33384f;
    font-weight: bold;
}

.DisputeBookingModalOptions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-top: 1em
}