.addItemBox {
    height:220px;
    border:1px solid #C7C7C7;
    border-radius:10px;
    margin-bottom: 40px;
    color:#ac172c;
    display:flex;
    font-size: 6rem;
    align-items: center;
    justify-content: center;
}
/* {height:"220px" ,border:"1px solid #C7C7C7", borderRadius:"10px"} */
.addItemButton {
        width: 100%;
        background-color: #ac172c;
        font-size: 18px;
        font-family: 'DMSans';  
        display:flex;     
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        color: #FFF;
        border-radius: 10px;
        padding: .5em 0;
    
}
