.CategoryDDIcon {
  max-height: 30px;
  margin-bottom: 5px;
}

.ReactIconCategory {
  width: 2rem;
  height: 2rem;
  max-width: 30px;
  margin-bottom: 5px;
  color: #b03b4b;
}

.CatIconContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
}

.SelectInput .CatIconContainer {
  display: none;
}

.DropDownTitle {
  padding: 1em 1em 0 1em;
  font-size: 20px;
}

