.CategoryDDIcon {
  max-height: 30px;
  margin-bottom: 5px;
}

.CatIconContainer {
  width: 30%;
  display: flex;
  justify-content: center;
}

.SelectInput .CatIconContainer {
  display: none;
}

.DropDownTitle {
  padding: 1em 1em 0 1em;
  font-size: 20px;
}

