.bg_protection {
  background-image: url(../../../assets/Images/Marketings/Images/LENDER\ PROTECTION-banner.jpg);
}

.bg_protection_signup {
  background-image: url(../../../assets/Images/Marketings/Background/protection_signup_bg.png);
}

.protection_title_position {
  width: 60%;
  top: 40%;
  left: 10%;
}

.sub_title_width {
  width: 50%;
}

.start_desc_text {
  text-align: start;
}

.damaged_steps_title,
.damaged_steps_description {
  text-align: center;
  margin: 0 auto;
}

.damaged_steps_title {
  width: 15em;
}

.damaged_steps_description {
  max-width: 30em;
  font-size: 0.5em;
  font-weight: 400;
  color: var(--color-dark);
  line-height: 0.9em;
}

.protection_sub_title_text {
  font-size: 1.2em;
  width: 100%;
  font-weight: 600;
  padding-bottom: 0.2em;
}

.protection_sub_list {
  margin: 0.3em;
}

@media screen and (max-width: 450px) {
  .protection_title_position {
    top: 30%;
    width: 90%;
  }
  .damaged_steps_title {
    width: 90%;
  }
}
