.TradeCalendarItemContainer {
  padding: 0px 5px;
  border-bottom: 1px solid #dedede;
}

.TradeCalendarItemDetails {
  position: sticky;
  left: 2rem;
  display: flex;
  width: max-content;
  align-items: center;
}
