.SearchSection {
  background-image: url(../../assets/Images/search_section_bg.jpg);
  /* background-size: 100%; */
  background-position: 0 700px;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.SearchSectionWrapper {
  width: 50%;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.SearchSectionTitle {
  font-size: calc(2.8vw + 2rem);
  font-weight: bold;
  color: white;
  width: 80%;
  margin: auto;
  line-height: 1.08;
  margin-bottom: 10px;
}

.SearchSectionFilters {
  background-color: rgba(51, 56, 79, 0.3);
  width: 100%;
  border-radius: 15px;
  padding: 2em;
  margin-bottom: 25px;
}

.SearchFiltersRowFlex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.DividingLine {
  border: solid 1px #ffffff;
  opacity: 0.3;
}

.PriceFilterSearch {
  width: 45%;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid #95272f;
  display: flex;
  min-width: 9rem;
}

.PriceFilterSelect {
  font-family: 'DMSans', sans-serif;
  border: none;
  font-size: 20px;
  height: 100%;
  width: 100%;
  padding: 0 5px;
  outline: none;
}

.vl {
  border-right: 1px solid rgba(51, 56, 79, 0.3);
  margin: 5px 0;
}

.PriceFilterContainer {
  position: relative;
  width: 50%;
  /* margin: 0 10px 0 0; */
}

.FloatingLabel {
  position: absolute;
  left: 10px;
  font-weight: bold;
  color: #bcbcbc;
  font-size: 10px;
}

.SearchButtonLarge {
  background-color: #ac172c;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.6em 2em;
  font-family: 'DMSans', sans-serif;
  color: #ffffff;
  width: max-content;
  font-size: 24px;
}
.SearchButtonLargeDisabled {
  background-color: #bcbcbc;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.6em 2em;
  font-family: 'DMSans', sans-serif;
  color: #33384f;
  width: max-content;
  font-size: 24px;
}
.SearchInputContainer {
  width: 35%;
  min-width: 9rem;
}

.CategoryInputField {
  color: #33384f;
  font-size: 20px;
  font-weight: bold;
}

.SearchButtonLargeFlex {
  display: flex;
  align-items: center;
}

.SearchIcon35 {
  height: 35px;
  margin-right: 20px;
}

.MainContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 2em 0;
}

.RecommendedSection {
  width: 100%;
}

.MainContentHeader {
  font-weight: bold;
  color: #626262;
  font-size: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.CategoriesSection {
  width: 100%;
}

.ItemCardSection,
.SearchItemCardSection {
  padding: 1em 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.ItemCardSection {
  justify-content: space-between;
}

.SearchItemCardSection {
  justify-content: center;
}

.CategoryCardSection {
  padding: 1em 4em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CategoryImageDiv {
  min-width: 170px;
  min-height: 300px;
  flex: 0 1 22%;
  padding: 1em;
  margin-right: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-repeat: no-repeat;
}

.CategoryImageDiv:hover {
  cursor: pointer;
}

.CategoryTitle {
  font-size: calc(1.2vw + 1.1rem);
  text-align: center;
  font-weight: bold;
}

.CategoryItemTotal {
  font-size: 20px;
}

.Automotive {
  background-image: url(../../assets/Images/Categories/Automotive.png);
  background-size: 100%;
}

.Gardening {
  background-image: url(../../assets/Images/Categories/Gardening.png);
  background-size: 100%;
}

.HandTools {
  background-image: url(../../assets/Images/Categories/HandTools.png);
  background-size: 100%;
}

.PowerTools {
  background-image: url(../../assets/Images/Categories/PowerTools.png);
  background-size: 100%;
}

.CategoryIcon {
  margin: 10px 0 0 5px;
  max-height: 30px;
}
@media only screen and (max-width: 1180px) {
  .SearchSectionWrapper {
    width: 75%;
  }
}

@media only screen and (max-width: 495px) {
  .SearchSectionWrapper {
    width: 90%;
  }
  .SearchSectionTitle {
    width: 90%;
  }
  .MainContentWrapper {
    width: 100%;
  }
  .ItemCardSection {
    padding: 1em 0.5em;
  }
  .CategoryCardSection {
    padding: 0.5rem 0.5rem;
  }
  .CategoryImageDiv {
    margin-right: 5px;
  }
  .SearchSectionFilters {
    padding: 1em;
  }
  .SearchFiltersRowFlex {
    justify-content: space-evenly;
  }
}

/* .SearchSectionFilters {
  background-color: rgba(51, 56, 79, 0.3);
  width: 100%;
  border-radius: 15px;
  padding: 2em;
  margin-bottom: 25px;
}

.SearchFiltersRowFlex {
  display: flex;
  justify-content: space-between;
} */
