.ApplicationFooterContainer {
    position: sticky;
    bottom: 20px;
    margin-bottom: -100px;
    background-color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black
}
.ApplicationFooterDetailsContainer {
    display: flex;
}
.ApplicationFooterButtonContainer {
    display: flex;
}
.ApplicationFooterClearButton {
    cursor: pointer;
    border: 1px solid #ac172c;
    border-radius: 10px;
}

.ApplicationFooterNextButton {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}