
.ApplicationOverviewContainer {
    margin-bottom: 30px;
    width: 70%;
    border: solid 1px #b4b4b4;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.ItemOverviewPrice {
    font-size: 20px;
    font-weight: bold;
    color: #33384f;
}
.ApplicationOverviewHeader {
    color: #33384f;
    font-size: 24px;
    font-weight: bold;
}

.ItemOverviewItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ItemOverviewEditButton {
    color: gray;
    cursor: pointer;

}
.ItemOverviewEditButton:hover {
    text-decoration: underline;
}
.ApplicationOverviewSubHeader {
    font-size: 20px;
    color: #33384f;
    font-weight: bold;
}
.ItemOverviewSmallText {
    font-size: 12px;
    margin-bottom: 5px;
}
.ItemOverviewSendButton {
    background-color: #ac172c;
    margin-top: 20px;
    align-self: center;
    width: 80%;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}
.ItemOverviewSendText {
    font-size: 15px;
}