.OptionsContainer {
  min-height: 80vh;
  width: 80%;
}
.OptionsPrice {
  color: #ac172c;
}
.OptionsItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.OptionsItemHeader {
  font-size: 20px;
  color: #33384f;
  font-weight: bold;
}

.OptionsItemHeaderContainer {
  margin-bottom: 30px;
}
.DeliveryOptionsContainer {
  border-bottom: 2px solid #dedede;
  margin-bottom: 20px;
}
.AdditionalItemsHeader {
  font-size: 17px;
  font-weight: bold;
  color: #33384f;
}
.AdditionalItemsText {
  font-size: 16px;
  color: #33384f;
}
.AdditionalItemsMainContainer {
    display: flex;
    flex-direction: column;
}
.AdditionalItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    align-items: center;
}