.CalendarContainer {
  width: 60%;
}
.CalendarRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.CalendarPadding {
  grid-column-start: 1;
  grid-column-end: 8;
  display: flex;
  justify-content: center;
}
.CalendarStart {
  grid-column-start: 4;
}
