.CalendarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.ItemAMAvailable {
  background-color: #33384f;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-right: 2px;
}
.ItemPMAvailable {
  background-color: #ac172c;
  height: 8px;
  width: 8px;
  border-radius: 4px;
}

.ItemAMUnavailable {
  background-color: gray;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-right: 2px;
}
.ItemPMUnavailable {
  background-color: gray;
  height: 8px;
  width: 8px;
  border-radius: 4px;
}

.ItemAvailabilityContainer {
  display: flex;
}
.ItemCircle {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.Pointer {
  cursor: pointer;
}
.ItemApplicationPeriod {
  background: red;
}
.ItemUnavailable {
  color: gray;

}
.ItemCurrentDay {
  border: 1px solid gray;
}

.ItemCircleConfirmed {
  background-color: #e9d8b4;
}
.ItemCircleSelected {
  background-color: #c6b8c1;
}
