.PostItem__ItemPictures__Container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
  width: 100%;
}

.PostItem__ItemPictures__Add__Container {
  padding: 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostItem__ItemPictures__Preview {
  width: 45%;
  margin-bottom: 1em;
  border: 1px solid #ac172c;
  border-radius: 5px;
  padding: 0.5em;
  position: relative;
}

.PostItem__TextArea {
  resize: none;
  font-weight: 400;
}

.PostItem__Complete__TextCenter {
  text-align: center;
}

.PostItem__Complete__Bold {
  font-weight: bold;
}

.PostItem__Complete__ItemPreview {
  border: 1px solid #707070;
  border-radius: 5px;
  padding-bottom: 100%;
  width: 100%;
  position: relative;
}

.PostItem__Complete__ItemImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.PostItem__Complete__ItemDetails__Container {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
