.InLineErrorContainer {
  background-color: #f7e7e9;
  border-radius: 10px;
  padding: 0.7em;
  margin-top: 0.2em;
  font-size: 18px;
  user-select: none;
}
.ValidationInputContainer {
  margin-bottom: 1em;
  width: 100%;
}
.ValidationInput {
  width: 100%;
  padding: 0.7em;
  border-radius: 10px;
  border: 1px solid #ac172c;
  outline: none;
  font-family: "DMSans", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.PasswordInput {
  width: 100%;
  border-radius: 10px;
  border-width: 0;
  outline: none;
  font-family: "DMSans", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.ValidationInputErrorContainer {
  background-color: #f7e7e9;
  border-radius: 10px;
}
.PasswordInputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.7em;
  border-radius: 10px;
  border: 1px solid #ac172c;
  outline: none;
  font-family: "DMSans", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.IdProvideInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5em;
}

.IdProvideImageSquare {
  border: 1px solid #ac172c;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  overflow: hidden;
}

.IdPicturePreview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.BankDetailMainTitle,
.BankDetailSubTitle,
.IdProviderMainTitle,
.IdProviderSubTitle {
  margin: 0;
}

.IdProviderMainTitle,
.BankDetailMainTitle {
  color: #33384f;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.red_bg {
  background-color: #f7e7e9;
  border-radius: 10px;
}