.HeaderBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url(../../assets/TexturedBackgrounds/LBS_Illustration\ Pattern_RED.jpg);
  background-position: -200px -200px;
}

.HeaderBarSticky {
  position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0%;
  z-index: 100;
  animation: FadeIn 0.4s;
}

.HeaderLogo {
  margin: 1.5em 2em;
  max-width: 5.5em;
}

.SearchWrapper {
  display: flex;
  align-items: center;
  width: 30%;
}

.LoginWrapper {
  display: flex;
  align-items: center;
  width: 10%;
  margin-right: 2em;
}

.HeaderSearchDiv {
  position: relative;
  max-height: '74px';
  width: 100%;
  margin: 0 25px 0 0;
}

.HeaderSearchInput {
  font-size: 16px;
}