.ModalWrapperMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 , 0, 0 , 0.6);
  z-index: 100;
  user-select: none;
}

.AvailabilityModalMain {
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  left: 0;
  right: 0;
  width: 550px;
  margin: 0 auto;
  max-height: 700px;
  background-color: #fff;
  color: #000;
  overflow-y: scroll;
  border: 2px solid #9e1e29;
  border-radius: 15px;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 495px) {
  .AvailabilityModalMain {
    width: 98%;
    padding: 0 0.2em;
  }
}

.AvailabilityTitleContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.AvailabilityTitle {
  font-size: 1.2em;
}

.AvailabilityCloseBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  border-radius: 23px;
  width: 38px;
  height: 38px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b43b4c;
  color: white;
  cursor: pointer;
}