.SelectInput {
  font-size: 20px;
  max-height: 55px;
  border-radius: 15px;
  outline: none;
  padding: 1.3em 0 0.7em 0;
  width: 100%;
  font-family: 'DMSans', sans-serif;
  background-color: var(--color-white);
  padding-left: 1em;
  padding-top: 2em;
}

.SelectInput--Thin {
  padding: 0.7em;
}

.hl {
  margin: 8px 5px;
  opacity: 0.3;
}

.SelectInput__Option {
  min-height: 25px;
}
