.SelectInput {
  font-size: 20px;
  max-height: 70px;
  border-radius: 15px;
  outline: none;
  padding: 1.3em 0 0.7em 0;
  width: 100%;
  font-family: "DMSans", sans-serif;
  background-color: #FFFFFF;
  padding-left: 1em;
}

.SelectInput--Thin {
  padding: .7em;
}

.hl {
  margin: 8px 5px;
  opacity: 0.3;
}

.SelectInput__Option {
  min-height: 25px;
}