.Footer {
  width: 100%;
  z-index: 10;
}

.FooterBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Advert {
  background-image: url(../../assets/TexturedBackgrounds/LBS_Illustration\ Pattern_RED.jpg);
  background-position: -200px 200px;
}

.Links {
  background-color: #e9d8b4;
}

.Copyright {
  background-color: #33384f;
}

.FooterWrapper {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  align-items: center;
}
.LinkWrapper {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  align-items: center;
  flex-wrap: wrap;
}

.FooterLogo {
  max-width: 100px;
  border-radius: 20px;
}

.TextWrapper {
  margin: 0 1rem;
}
.LogoTextContainer {
  width: 80%;
  display: flex;
  align-items: center;
}
.LargeText {
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
}

.RegularText {
  font-size: 25px;
  color: #ffffff;
}

.AppButtonsSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  min-height: 8rem;
  /* padding: .3em 0 0 8.5em; */
}

.AppButton:hover {
  cursor: pointer;
}

.Apple {
  background-color: #000000;
  color: #ffffff;
}

.AppIcon {
  max-width: 20px;
  margin-right: 1em;
}

.Google {
  background: #ffffff;
  font-family: "Product Sans", sans-serif;
}

.AppButtonFlex {
  display: flex;
  align-items: center;
}

.AppButtonText {
  margin: auto;
  font-family: "DMSans";
  font-weight: bold;
  font-size: 14px;
}

.Links div {
  padding-bottom: 12px;
}

.LinkHeader {
  font-size: 25px;
  font-weight: bold;
}

.LinkText {
  font-size: 18px;
  color: #33384f;
}
.Copyright {
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

@media only screen and (max-width: 495px) {
  .LogoTextContainer {
    width: 100%;
  }
  .FooterWrapper {
    flex-direction: column;
    width: 100%;
  }
  .LinkWrapper {
    width: 100%;
  }
}
