.Footer {
  width: 100%;
  z-index: 10;
}

.FooterBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Advert {
  background-image: url(../../assets/TexturedBackgrounds/LBS_Illustration\ Pattern_RED.jpg);
  background-position: -200px 200px;
}

.Links {
  background-color: var(--color-bg-light);
}

.Copyright {
  background-color: var(--color-dark);
}

.FooterWrapper {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  align-items: center;
}

.LinkWrapper {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  align-items: center;
  flex-wrap: wrap;
}

.FooterLogo {
  max-width: 100px;
  border-radius: 20px;
}

.TextLogoWrapper {
  display: flex;
}

.TextWrapper {
  margin: 0 1rem;
}
.LogoTextContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LargeText {
  font-size: 2.5em;
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
}

.RegularText {
  text-align: center;
  font-size: 1.8em;
  color: var(--color-white);
}

.AppButtonsSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  min-height: 8rem;
}

.AppButton:hover {
  cursor: pointer;
}

.Apple {
  background-color: var(--color-text);
  color: var(--color-white);
}

.AppIcon {
  max-width: 20px;
  margin-right: 1em;
}

.Google {
  background: var(--color-white);
  font-family: 'Product Sans', sans-serif;
}

.AppButtonFlex {
  display: flex;
  align-items: center;
}

.AppButtonText {
  margin: auto;
  font-family: 'DMSans';
  font-weight: bold;
  font-size: 14px;
}

.Links div {
  padding-bottom: 12px;
}

.LinkHeader {
  font-size: 25px;
  font-weight: bold;
}

.LinkContainer {
  display: flex;
  flex-direction: column;
  gap: 5;
}

.LinkText {
  font-size: 18px;
  color: var(--color-dark);
  padding-bottom: 12px;
}
.Copyright {
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-white);
}

@media only screen and (max-width: 1400px) {
  .FooterWrapper {
    flex-direction: column;
    width: 85%;
  }

  .RegularText {
    display: none;
  }

  .AppButtonsSection {
    flex-direction: row;
    min-height: fit-content;
  }

  .AppButton {
    width: 10em;
    height: 2.3em;
    margin: 0.5em;
  }
}

@media only screen and (max-width: 495px) {
  .LogoTextContainer {
    width: 100%;
  }
  .FooterWrapper {
    flex-direction: column;
    width: 100%;
  }
  .LinkWrapper {
    width: 100%;
  }
}
