.TradesContainer {
  min-width: 55%;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; */
}

.UserShed__MainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.TradesPageWrapper {
  width: 100%;
  display: flex;
  margin: 2em 0;
  padding: 0 0 0 2%;
}

@media only screen and (max-width: 495px) {
  .TradesContainer {
    width: 100%;
  }
  .TradesPageWrapper {
    margin: 0.5em 0;
  }
}
