.UserCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
  min-height: 80px;
}
.UserCard:hover {
  cursor: pointer;
}

.UserCardDetails {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.UserCardTop {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.UserCardIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}
.UserCardContent {
  display: flex;
  flex-direction: column;
}
.UserCardBlockButton {
  padding: 0.5rem 1rem;
}
.UserCardBlockButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.UserCardDotIconContainer {
  margin-bottom: 0.5em;
}
.LastMessageOwner {
  font-weight: bold;
}
