.UserShedWrapper {
  width: 100%;
  display: flex;
  margin: 2em 0;
  padding: 0 2% 0 2%;
  min-height: 65vh;
}

.UserShed__Title {
  color: var(--color-dark);
  font-weight: bold;
  margin-bottom: 1em;
  font-size: calc(1.1vw + 1.3rem);
}

.UserShed__MainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  /* .UserShedWrapper {
    padding: 0 2% 0 2%;
    margin: 1rem 0;
  } */
  .UserShed__Title {
    margin: 0.4rem;
  }
}
