html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "DMSans";
  src: url(/src/assets/Fonts/DMSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/src/assets/Fonts/DMSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/src/assets/Fonts/DMSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/src/assets/Fonts/DMSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/src/assets/Fonts/DMSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/src/assets/Fonts/DMSans-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Kameron";
  src: url(/src/assets/Fonts/Kameron-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kameron";
  src: url(/src/assets/Fonts/Kameron-Bold.ttf);
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "DMSans", sans-serif;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}


/* Font imports */

