html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
/* Font imports */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'DMSans';
	src: url(/src/assets/Fonts/DMSans-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DMSans';
	src: url(/src/assets/Fonts/DMSans-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DMSans';
	src: url(/src/assets/Fonts/DMSans-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'DMSans';
	src: url(/src/assets/Fonts/DMSans-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DMSans';
	src: url(/src/assets/Fonts/DMSans-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DMSans';
	src: url(/src/assets/Fonts/DMSans-MediumItalic.ttf);
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Kameron';
	src: url(/src/assets/Fonts/Kameron-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kameron';
	src: url(/src/assets/Fonts/Kameron-Bold.ttf);
	font-weight: bold;
	font-style: italic;
}

@layer components {
	.btn-primary {
		@apply bg-red-base border-[1px] border-red-base px-[1.5rem] py-2 rounded-[8px] text-[#FFF] mb-1 font-dmSans text-[14px] transition-all w-full  flex gap-2 justify-center cursor-pointer hover:scale-[1.03] duration-300 hover:bg-red-highlight hover:border-red-highlight hover:shadow-lg;
	}

	/* .input-primary {
	  @apply bg-grey-light border-[1px] border-grey-base88 text-black-base placeholder-grey-base88 px-3 py-3 rounded-lg mb-1 w-full outline-none focus:border-gold-base focus:shadow-md transition-all duration-300;
	} */
}

body {
	margin: 0;
	font-family: 'DMSans', sans-serif;
}

button {
	outline: none;
}

button:hover {
	cursor: pointer;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 2px 5px 0px rgb(0 0 0 / 14%),
		0px 1px 10px 0px rgb(0 0 0 / 12%);
}

a {
	color: inherit;
	text-decoration: inherit;
}

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #c2c9d2;
}

  .toaster_container {
	/* background-color: var(--color-light); */
	color: var(--color-dark);
	width: fit-content;
	max-width: 400px;
	border-radius: 10px;
	padding: 0.5em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  }
  .toaster-container > div {
	border-left: 8px solid green;
    padding: 0;
    /* background: #f7e7e9; */
    border-radius: 10px;
	
  }
  
  
@keyframes FadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
