.ReceivedMessageTextContainer {
  background-color: #ebebeb;
  width: calc(100% - 60px);
  flex: 0 0 calc(100% - 60px);
  border-radius: 5px;
  position: relative;
  padding: 12px 12px 12px 18px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ReceivedMessageContainer {
  position: relative;
  display: flex;
  width: 70%;
  padding: 0;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto 15px 0;
}

.ReceivedMessageTriangle {
  position: absolute;
  bottom: 0;
  left: -16px;
}

.ReceivedMessageImage {
  height: 40px;
  width: 40px;
}

.ReceivedMessageImageContainer {
  width: 10%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 495px) {
  .ReceivedMessageTextContainer {
    width: 85%;
  }

  .ReceivedMessageImageContainer {
    width: 15%;
  }

  .ReceivedMessageTriangle {
    left: calc(15% - 8px);
  }
}