.ReceivedMessageContainer {
  border: 1px solid #33384f;
  border-radius: 5px;
  position: relative;
  width: 100%;
}
.arrow-up {
  width: 0;
  height: 0;
  border-width: 0px 30px 30px 0px;
  border-color: red white blue yellow;
  border-style: solid;
}
.MessageTriangle {
  display: none;
}

@supports (clip-path: inset(50%)) {
  .MessageTriangle {
    display: block;
    height: 20px;
    width: 20px;
    border: 3px solid black;
    border: inherit;
    position: absolute;
    left: 50px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    transform: rotate(0deg);
    border-radius: 0 0 0 0;
  }
}
